body{margin:0px;
background-color:black;}
.text1{
 
    color: #fff;
    text-align:justify;
    font-family:monotype corsiva;

     
	
	
}

.text2{
	
	color:pink;
	display:none;
	text-align:justify;

}
#bar{
width:1001px;
margin:auto;
border-width:auto;
background-color:black;
height:40px;
border-radius:0px 0px 20px 20px;
box-shadow:0px 0px 5px #fff inset;
position:relative;
z-index:2;}
ul{list-style-type:none;
margin:0;
padding:0;
text-align:center;}
#menu>li{display:inline-block;
padding:5px;
margin:0px 10px 0px 2px; }
.panel{background-color:#333;
width:300px;
height:730px;
border-style:groove;
border-radius:15px;
border-width:5px;
box-shadow:0px 0px 200px #000 inset,0px 0px 5px #000;
padding-top:100px;
position:relative;
transition: all ease 1s;
-webkit-transform-style: preserve-3d;
top:-250px;

}
.panel:hover{
-webkit-animation:animacion ease 2s forwards;}
@-webkit-keyframes animacion{
0%{top:-250px;}
50%{top:-20px;
-webkit-transform:rotateY(0deg);}
100%{top:-20px;
-webkit-transform:rotateY(180deg);}
}

.front{-webkit-backface-visibility:hidden;}
.front>img{margin-bottom:50px;}
.back{position:absolute;
top:10px;
-webkit-transform:rotateY(180deg) translateZ(700px);
-webkit-backface-visibility:hidden;

}

.p1{
	background-color:#111;
    color:#fff;
    font-family:monotype corsiva;
    font-size:30px;
	border-style:groove;
	width: 250px;
	text-align: right;
	border-radius:15px;
}
.p2{
	background-color:#fff;
    color:black;
	border:1px solid black;
	border-style:dotted;
	padding: 2px;
	width: 170px;
	text-align: left;
    font-style:italic;
	border-radius:15px;
}
.A{
   border-style:groove;
   border-radius:15px;
}

